@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

h1{
    font-weight: 900;
    font-size: 4.5rem;
}

h2{
    font-size: 2.3rem;
    padding-bottom: 2rem;
}

h3{
    font-size: 1.3rem;
}

p{
    padding: 1rem 0;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

/* -- Header -- */

header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100%;
    z-index: 10;
}

.header-menu{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.link{
    padding: 0.5rem 1rem;
}

.button{
    padding: 0.6rem 1.2rem;
    height: max-content;
}

.prim{
    background-color: #0061ff;
    color: white;
}

.sec{
    border: 1px solid black;
    color: black;
    background-color: white;
}

.ter{
    color: black;
    background-color: white;
    padding: 0.6rem 2rem;
}

/* -- Main -- */

main{
    padding-top: 4rem;
}

/* hero */

.background.hero{
    background-color: #b4d0e7;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.relative{
    position: relative;
    top: 7rem;
}

.relative h1{
    padding-bottom: 3rem;
}

.col-container{
    display: flex;
}

.col-small{
    width: calc(100% / 3);
}

.col-large{
    width: calc((100% / 3) * 2);
}

.column{
    display: flex;
    flex-direction: column;
}

.col-text{
    padding: 0 0 2rem;
}

.col-small a{
    margin: 0 auto 2rem 0;
}

.scroll-icon{
    font-size: 2.5rem;
    padding: 1.5rem 0 5.5rem;
}

/* sections */

.small-container{
    max-width: 960px;
    margin: auto;
    padding: 3rem;
}

.first{
    padding-top: 7rem;
}

.small-container label{
    display: inline-block;
    padding: 0 1.5rem 2.5rem 0;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    border: 1px solid lightgray;
    flex-grow: 1;
}

.long{
    width: calc((100% / 3) - (4rem / 3));
}

.card-header{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.card-body{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-price{
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.card-subtitle{
    padding: 0 0 2rem;
}

.card-body .fa-ul{
    padding-bottom: 2rem;
}

.card-body li{
    padding-bottom: 0.5rem;
}

.card .button{
    margin: 0 auto;
}

.sec-link{
    color: #0061ff;
    text-decoration: underline;
    padding: 1rem 0;
}

hr{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgray;
    margin: 2rem 0;
}

.width-twentyfive{
    max-width: 25%;
}

.card .fa-check{
    color: #0061ff;
}

.left-large-col{
    padding-right: 3rem;
}

.padding-container{
    
    padding: 3rem 0 2rem;
}

.text-container{
    padding: 2rem 1rem 2rem 0;
}

.brand-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.brand-square-big{
    aspect-ratio: 1 / 1 ;
}

.brand-square{
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.brand-logos{
    max-width: 50%;
}

.designit{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.arizona{
    background-color: #61082B;
}

.florida{
    background: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.bicycle{
    background-color: #D50020;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely{
    background-color: #0D2481;
}

.channel{
    background-color: #FFD830;
}

.main-brand{
    background-color: #F5F5F5;
    padding: 3rem;
}

.main-brand svg{
    width: 50%;
}

.banner{
    display: flex;
    align-items: center;
}

.faq hr{
    margin: 0.5rem;
}

.faq h3{
    display: inline;
}

.faq a{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    padding: 2rem;
}

footer .list{
    display: flex;
    padding: 3rem 0;
}

footer .link-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.link-list h3{
    padding-bottom: 1.5rem;
}

.link-list a{
    margin: 0.5rem 0;
}

footer hr{
    width: 10%;
}

.language a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: lightgray;
}